<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.learn.testboard.mapper.TestBoardMapper">
	<select id="getTestBoardAllList" resultType="TestBoardVO">
		SELECT 
			SEQNO, TITLE, CONTENTS, WRITER,	ATTACHMENT, REGDATE
		FROM 
			testBoard
	</select>
	<select id="getTestBoardView" parameterType="string" resultType="TestBoardVO">
		SELECT 
			SEQNO, TITLE, CONTENTS, WRITER,	ATTACHMENT, REGDATE
		FROM 
			testBoard
		WHERE
			SEQNO = #{seqno}
	</select>
	<insert id="insertTestBoard" parameterType="TestBoardVO">
		INSERT INTO testBoard
			(TITLE, CONTENTS, WRITER, ATTACHMENT, REGDATE)
		VALUES(#{title}, #{contents}, #{writer}, #{attachment}, now())
	</insert>
	<update id="updateTestBoard" parameterType="TestBoardVO">
		UPDATE TESTBOARD
		SET TITLE=#{title}, CONTENTS=#{contents}, WRITER=#{writer}, ATTACHMENT=#{attachment}
		WHERE SEQNO = #{seqno}	
	</update>
	<delete id="deleteTestBoard" parameterType="string">
		DELETE FROM TESTBOARD
		WHERE SEQNO = #{seqno}	
	</delete>
</mapper>