<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="eGov.home.board.dao.BoardMapper">
	

	<resultMap id="board" type="eGov.home.board.domain.BoardVO">
		<result property="seqno" column="seqno" />
		<result property="title" column="title" />
		<result property="subtitle" column="subtitle" />
		<result property="content" column="content" />
		<result property="writer" column="writer" />
	</resultMap>
	
	<insert id="insertBoard">
		<![CDATA[
			INSERT INTO board 
				( seqno
				  , title
				  , subtitle
				  , content
				  , writer )
			VALUES ( #{seqno}
				  , #{title}
				  , #{subtitle}
				  , #{content}
				  , #{writer} )
		]]>
	</insert>
	
	<update id="updateBoard">
		<![CDATA[
			UPDATE board
			SET seqno=#{seqno}
				, title=#{title}
				, subtitle=#{subtitle}
				, content=#{content}
				, writer=#{writer}
			]]>
	</update>
	
	<delete id="deleteBoard">
		<![CDATA[
			DELETE FROM board 
			]]>
	</delete>
	
	<select id="selectBoard" resultMap="board">
		<![CDATA[
			SELECT
				seqno
				, title
				, subtitle
				, content
				, writer
			FROM board
			]]>
	</select>
	
	<select id="selectBoardList" parameterType="eGov.home.board.domain.BoardVO" resultType="egovMap">
			SELECT
								seqno
								, title
								, subtitle
								, content
								, writer
					FROM board
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					seqno = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					title LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>
				ORDER BY 
				limit #{recordCountPerPage} offset #{firstIndex}	
	</select>	
	<select id="selectBoardListTotCnt" parameterType="eGov.home.board.domain.BoardVO" resultType="int">
			SELECT COUNT(*) totcnt
			FROM board
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					seqno = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					title LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>			
	</select>

</mapper>
